<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ToDoList : detail</title>
</head>
<body>
    <h3>할 일 세부 페이지</h3>
    <div>
        <p>할 일 : {{todolist.title}}</p>
    </div>
    <div>
        <p style="white-space:pre">세부사항:
{{todolist.content}} </p>
    </div>
    <div>
        <p>할 일 상태 : {{todolist.status}}</p>
    </div>
    <div>
        <p>할 일 생성시간 : {{todolist.created_at}}</p>
    </div>

    {% if not todolist.rewrited_at == None %}
    <div>
        <p>할 일 최근 수정시간 : {{todolist.rewrited_at}}</p>
    </div>
    {% endif %}
    <div>
        <p>마감기한 : {{todolist.due}}</p>
    </div>
    <div>
        <a href="{% url 'update' todolist.id %}">수정하기</a>
        <a href="{% url 'delete' todolist.id %}">삭제하기</a>
        <a href="/">메인으로</a>
    </div>
</body>
</html>